<section class="section experiences-section">
                <a name="experiences" class="section-title"><h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2></a>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staff Software Engineer</h3>
                            <div class="time">Jan 2021 - May 2021</div>
                        </div><!--//upper-row-->
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">Aug 2020 - Jan 2021</div>
                        </div><!--//upper-row-->
                        <div class="company">Shopify, Ottawa, ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <ul>
                                <li>Engineer on the React Native Foundations team.</li>
                                <li>Built tools and libraries used across Shopify’s mobile apps.</li>
                                <li>Focussed primarily on mobile performance monitoring tools.</li>
                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Developer</h3>
                            <div class="time">Sept 2019 - Aug 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">Shopify, Stockholm, Sweden</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            <ul>
                                <li>Mobile developer on <a href="https://shop.app" target="_blank">Shop (previously Arrive).</a></li>
                                <li>Built order-management and product-discovery features.</li>
                                <li>Championed architectural health of the app.</li>
                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Developer</h3>
                            <div class="time">Aug 2019 - Sept 2019</div>
                        </div><!--//upper-row-->
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Jan 2018 - Aug 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Shopify, Ottawa, ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Android software developer on the Storefront Management (previously Core) Logistics team</li><li>Building all things Shopify Logistics for your <a href="https://play.google.com/store/apps/details?id=com.shopify.mobile" target="_blank">Android device</a>; think managing orders, returns, fulfillments, inventory, locations, and 3PLs.</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">May 2017 - Dec 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Shopify, Ottawa, ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Helping build the <a href="https://play.google.com/store/apps/details?id=com.shopify.mobile" target="_blank">Shopify app for Android</a> to let merchants manage their stores from their phones</li><li>Built core merchant facing features such as product and collection management</li><li>Built the file upload framework that is being used across multiple Shopify apps</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer (co-op)</h3>
                            <div class="time">Sep 2016 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">NVIDIA, Santa Clara, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Interned with the Mobile Graphics 3D team</li><li>Enhanced NVIDIA's graphics drivers by implementing several OpenGL-ES extensions</li><li>Improved test coverage by creating an auto-generating test system for verifying the OpenGL deprecated API behaviour under different context settings</li></ul></p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer (co-op)</h3>
                            <div class="time">May 2016 - Aug 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Shopify, Ottawa, ON</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Worked with a team of developers and designers to build the new <a href="https://play.google.com/store/apps/details?id=com.shopify.mobile" target="_blank">Shopify app for Android</a> from the ground up</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">Dec 2015 - Apr 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Alberta, Edmonton, AB</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Developed multiple natural language processing open-source applications with research and industrial applications</li><li>Used technologies like Scrapy, MongoDB, and AlchemyAPI to build sentiment analyzers and web crawlers</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer (co-op)</h3>
                            <div class="time">Apr 2015 - Aug 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">The Coalition Studio, Microsoft, Vancouver, BC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Interned with the Xbox Live Services team for the Gears of War franchise</li><li>Developed high performance, scalable, and maintainable web services on platforms like Azure, .NET framework, and ASP.NET</li><li>Designed and implemented key online services for multiple Gears of War titles, while improving existing ones</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer (co-op)</h3>
                            <div class="time">Jan 2015 - Apr 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft, Vancouver, BC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Interned at the Vancouver Foundry, Microsoft Garage</li><li>Worked with multiple technologies to design and develop an end-to-end software system in the field of “Internet of Things”</li><li>Used technologies like .NET framework, Windows (Modern) App framework, Azure cloud computing, ASP.NET and other third-party RESTful APIs as part of this system</li><li>Designed a modular software architecture, with scalability in mind, to enable further expansion of this project</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer (co-op)</h3>
                            <div class="time">May 2014 - Aug 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Garmin (Dynastream Innovations), Cochrane, AB</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><ul><li>Interned with the ANT/ANT+ Applications team</li><li>Worked on various .NET framework projects related to the ANT/ANT+ platform; gained experience with these technologies and the C++ and C# languages</li><li>Developed rich feature base and a high degree of stability over multiple releases of key tools</li><li>Gained experience with the product certification and testing process through work on the ANT+ Self Verification Tool</li><li>Applied my Python skills to create multiple tools for auto-generating custom AutoANT scripts</li><li>Used my technical writing skills for contributing towards the application notes</li><li>Performed real-world performance and quality testing on various ANT modules to enhance my product testing skills</li></ul></p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
