<section class="section projects-section">
                <a name="projects" class="section-title"><h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2></a>
                 <div class="intro">
                    <p>These are some of my open source projects. Visit my <a href="https://github.com/{{site.github}}" target="_blank">GitHub</a> page to see their, and all my other projects', sources.</p>
                </div>
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/pipe" target="_blank">pipe</a></span> - <span class="project-tagline">Android library for building pipelines for executing background tasks.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/licensify" target="_blank">Licensify</a></span> - <span class="project-tagline">A program for adding popular open-source licenses to your projects automatically.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/Logic" target="_blank">Logic</a></span> -
                    <span class="project-tagline">An experimental domain specific language and C++ library for Boolean function manipulation.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/AndroidElasticSearchDataManager" target="_blank">AndroidElasticSearchDataManager</a></span> - <span class="project-tagline">Android library for performing CRUD operations on Elastic Search with support for offline persistent request queuing and data caching.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/hour_logger" target="_blank">hour_logger</a></span> - <span class="project-tagline">A command line app for logging your work hours and tracking the money you're making. Compatible with <a href="https://github.com/matryer/bitbar" target="_blank">BitBar</a>.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/alchemy_dir_analyzer" target="_blank">alchemy_dir_analyzer</a></span> - <span class="project-tagline">A text analysis app that uses <a href="https://github.com/udeyrishi/alchemyapi_python/" target="_blank">Alchemy API</a> to analyze all the plain text documents in a directory.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/{{site.github}}/bo" target="_blank">bo</a></span> - <span class="project-tagline">A configurable web crawler that performs sentiment analysis on the visited pages' content.</span>
                </div><!--//item-->
            </section><!--//section-->
